<div class="container">
  <div class="logo">
    <img src="/assets/img/logo3.png" alt="" width="100"/>
    </div>
  <nav>
    <ul>
      <li>
      <a class="navbar-brand " href="/DisplayTask">Task Portal</a>
      </li>
      <li>
      <a class="navbar-brand " href="/AcceptTaskDetails">Add Task</a>
    </li>
    <li>
      <a class="navbar-brand " href="/UpdateTaskDetails">Update Task</a>
    </li>
    </ul>
    </nav>
  </div>
  <hr />



  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " href="/DisplayTask">Task Portal</a>
      <a class="navbar-brand " href="/AcceptTaskDetails">Add Task</a>
      <a class="navbar-brand " href="/UpdateTaskDetails">Update Task</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav> -->




<!-- 
  <div class="wrapper"></div>
  <div class="container" id="div1" style="background-color: rgba(42, 114, 8, 0.966);" >
      
          <form [formGroup]="getName" (ngSubmit)="submitNameToGetData()">
              <div class="form-group">
                  <h1 style="color: cyan;">Please Enter Name The Track Name</h1>
                  <label style="color: rgb(44, 8, 92);">NAME</label>
                <input type="text" class="form-control" id="TrackName"  placeholder="Enter TrackName" name="TrackName" formControlName="TrackName">
                <small id="Help" class="form-text text-muted"></small>
              <button type="submit" class="btn btn-primary" id="submitbtn" >Submit</button>
              </div>
          </form>
          
          </div> -->



  
  <div class="wrapper">
<div class="container" id="div1" style="background-color: white;" >
       
        <form [formGroup]="getName" (ngSubmit)="submitNameToGetData()">
            <div class="form-group">
                <h1 style="color: black;">Please Enter Name The Track Name</h1>
                <br>
                <label  style= "color: black;font-size: 20px;"><strong> NAME </strong></label>
                <br>  
                <br> 
              <input type="text" style="height: 50px;" class="form-control" id="TrackName"  placeholder="Enter TrackName" name="TrackName" formControlName="TrackName">
              <small id="Help" class="form-text text-muted"></small>
              <br>
            <button type="submit" style="height: 50px;width: 80px;" class="btn btn-primary" id="submitbtn" >Submit</button>
            </div>
        </form>
        </div>
      </div>

      <div class="wrap"> 
   <ng-container  *ngFor="let i of TaskNameList; let item = index">
          <div class='tile'>
            <img class='tile-img' style="background-image: url(/assets/img/logo3.png);"/>
            <div class='tile-info'>
              <h1>{{i.taskName}}</h1>
              <h2>Description:</h2>
              <p>{{i.taskDescription}}</p>
              <i (click)="deleteTask(i.taskId)" class="fa fa-close" style="font-size:20px;color:rgb(230, 13, 13)"><b>Delete</b></i><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
              <i (click)=" navigateToLogin(i.taskId)" class="fa fa-close" style="font-size:20px;color:rgb(25, 104, 124)"><b>Update</b></i>
           
            </div>
          </div>
         </ng-container ></div>