.wrapper {
    
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 321px;
    background: url(C:\Users\HP\Pictures\TheWall\pubg_crate.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    
  }