.tile {
    background-color: white;
    width: 100%; /* You can change the size however you like. */
    height: 15em;
    margin: 1em;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .tile-img {
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    width: 15em;
    height: inherit;
    float: left;
  }
  h4
  {
      margin-top: 0.5em;
  }
  p
  {
    margin-top: 0.5em; 
  }
  .tile-info {
      margin-top: 1em;
    height: inherit;
    padding: 1em;
    margin-left: 15em; 
  }
  
  /* These are optional changes I make to my css. */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  p {
    font-family: sans-serif;
    color: #777;
  }
  
  /* You can ignore anything below this. It does not contribute to the codepen in anyway, It's just so I can center the codepen when it displays and make it look pretty :D */
  
  html {
    background-color: #eee;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  html > body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 105px;
    background: url(C:\Users\HP\Pictures\TheWall\@WallPaper.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    
  }
