


 <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white" id="title11">Train Future</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminpanel"><strong>Admin Panel</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/taskDetails/{{userDetails.userName}}"><strong>My Task</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/{{userDetails.userName}}"><strong>My Dashboard</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-details"><strong>My Details</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white"> <strong>Username : </strong>{{userDetails.userName}}</li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white" *ngIf="userDetails.trackName!=null"> <strong>My Track : </strong> {{userDetails.trackName}}</li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white" *ngIf="userDetails.trackName==null"> <strong>My Track : </strong> Track Not Assigned</li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white"> <strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>


<div class="wrapper"></div>
