


 <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">Trainer Management System</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminpanel"><strong>Admin Panel</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white"> <strong>Username : </strong>{{userDetails.userName}}</li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item text-white"> <strong>FullName : </strong>{{userDetails.fullName}}</li>
  </ul><ul class="navbar-nav mr-auto">
    <li class="nav-item text-white"> <strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>


<div class="wrapper"></div>
